*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

#navWrapper{
    position: absolute;
    z-index: 11;
    width: 100%;
    user-select: none;
}
@media only screen and (max-width : 979px) {
    .navbar-collapse {
        background: #333333;
    }
    nav{
        background: #333333; 
    }
}


#jumboBgImg{
    position: fixed;
    width: 100%;
    height: 40rem;
    background-color: red;
    z-index: -1;
}
.carousel-item{
    height: 40rem;
}
.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 40rem;
}

.filler{
    height: 30rem;
    width: 20rem;
    background-color: gray;    
}

.row{
    background-color: white;
    margin-right: 0;
    font-size: 1.1rem;
}
.col-12{
    padding: 0;
    margin: 0;
}

.container-fluid{
    padding: 0;
    margin: 0;
    z-index: 10;
}

#quoteImg{
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spacer{
    width: 100%;
    height: 5rem;
    background-color: white;
}

.infoImg{
    height: 30rem;
    width: 100%;
}

#rowMisel{
    text-align: center;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cSamplerSynth{
    background-color: #4886a0;
    color: white;
    padding-top: 1rem;
}
.cSamplerSynth img{
    padding: 2rem;
}
.cSamplerSynth .tekst{
    padding: 1rem;
}

.cSequencer{
    background-color: #33824f;
    color: white;
    padding-top: 1rem;
}
.cSequencer img{
    padding: 2rem;
}
.cSequencer .tekst{
    padding: 1rem;
}

.cEffects{
    background-color: #ad4e43;
    color: white;
    padding-top: 1rem;
}
.cEffects img{
    padding: 2rem;
}
.cEffects .tekst{
    padding: 1rem;
}

#rowNakup{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#btnNakup{
    width: 20rem;
    height: 7rem;
    font-size: 4rem;
}

#rowFooter{
    color: #333333;
    background-color: darkgray;
    padding-top: 7rem;
}
#fL{
    text-align: left;
    vertical-align: bottom;
}
#fR{
    text-align: right;
    vertical-align: bottom;
}