*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#jumboBgImg{
    position: fixed;
    width: 100%;
    height: 40rem;
    background-color: red;
    z-index: -1;
}
.carousel-item{
    height: 40rem;
}
.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 40rem;
}

.filler{
    height: 25rem;
    width: 14rem;
    background-color: gray;    
}

.row{
    background-color: whitesmoke;
    margin-right: 0;
}
.col-12{
    padding: 0;
    margin: 0;
}

.container-fluid{
    padding: 0;
    margin: 0;
    z-index: 10;
}

#quoteImg{
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#rowMisel{
    text-align: center;
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}