*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

#navWrapper{
    position: static;
    z-index: 11;
    width: 100%;
    user-select: none;
}

#obvNas1{
    color: white;
    background-color: #9dad43;
    border: 0.3rem solid #9dad43;
    padding: 1.5rem;
}
#obvVseb1{
    border: 0.3rem solid #9dad43;
    padding: 1.5rem;
}
#obvVseb1 span{
    color: gray;
}

#obvNas2{
    color: white;
    background-color: #ad4e43;
    border: 0.3rem solid #ad4e43;
    padding: 1.5rem;
}
#obvVseb2{
    border: 0.3rem solid #ad4e43;
    padding: 1.5rem;
}
#obvVseb2 span{
    color: gray;
}

#obvNas3{
    color: white;
    background-color: #4886a0;
    border: 0.3rem solid #4886a0;
    padding: 1.5rem;
}
#obvVseb3{
    border: 0.3rem solid #4886a0;
    padding: 1.5rem;
}
#obvVseb3 span{
    color: gray;
}

#skriteNovice{
    display: none;
}

#pokaziSkrito{
    color: gray;
    text-align: center;
}
#pokaziSkrito:hover{
    cursor: pointer;
}

#rowFooter{
    color: #333333;
    text-align: end;
    background-color: darkgray;
    padding-top: 15rem;
}