*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

#navWrapper{
    position: static;
    z-index: 11;
    width: 100%;
    user-select: none;
}

#rowFooter{
    color: #333333;
    background-color: darkgray;
    padding-top: 7rem;
}
#fL{
    text-align: left;
    vertical-align: bottom;
}
#fR{
    text-align: right;
    vertical-align: bottom;
}