*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

#navWrapper{
    position: static;
    z-index: 11;
    width: 100%;
    user-select: none;
}



#socialLinki{
    background-color: #4886a0;
    color: white;
    padding: 2rem;
    height: 100%;
    line-height: 2.5rem;
    
}
#socialLinki span{
    line-height: 1.5rem;
}
#socialLinki span:hover{
    cursor: pointer;
}
#socialLinki img{
    height: 1.5rem;
}

.col-md-2{
    align-items: center;
    border: solid 5px #333333;
}






#rowFooter{
    color: #333333;
    text-align: end;
    background-color: darkgray;
    padding-top: 15rem;
}