*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

#navWrapper{
    position: static;
    z-index: 11;
    width: 100%;
    user-select: none;
}

.col-md-4{
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
}

.divAsImg{
    width: 100%;
    height: 100%;
    background-color: darkslategray;
    background-position: center; 
}


#rowKomplet{
    text-align: center;
}
#kompletL{
    border: 4px solid #4886a0;
    padding: 0;
    min-height: 15rem;
}
#kompletD{
    background-color: #4886a0;
    border: 0.3rem solid #4886a0;
    min-height: 23rem;
}

#rowTON{
    text-align: center;
}
#tonL{
    border: 4px solid #33824f;
    padding: 0;
    min-height: 15rem;
}
#tonD{
    background-color: #33824f;
    border: 0.3rem solid #33824f;
    min-height: 23rem;
}

#rowSlusalke{
    text-align: center;
}
#slusalkeL{
    border: 4px solid #ad4e43;
    padding: 0;
    min-height: 15rem;
}
#slusalkeD{
    background-color: #ad4e43;
    border: 0.3rem solid #ad4e43;
    min-height: 23rem;
}

#rowNapajalnik{
    text-align: center;
}
#napajalnikL{
    border: 4px solid #9dad43;
    padding: 0;
    min-height: 15rem;
}
#napajalnikD{
    background-color: #9dad43;
    border: 0.3rem solid #9dad43;
    min-height: 23rem;
}


#rowFooter{
    color: #333333;
    text-align: end;
    background-color: darkgray;
    padding-top: 15rem;
}